.status-dot {
  height: 16px;
  width: 16px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

/* Slide animation */
.slide-toggle {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}

.slide-toggle.show {
  max-height: 500px;
  opacity: 1;
  transform: scale(1);
}

#user-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border: 1px solid darkorange;
}

/* ================================ */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: orange;
  border-radius: 4px;
  transition-duration: 0.8s;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

.status {
  margin: 1rem 0;
  padding: 30px;
  color: white;
  border-radius: 10px;
  overflow: auto;
}

.status h5 {
  font-weight: 600;
  line-height: 35px;
  font-size: 18px;
}

.status h2 {
  font-size: 30px;
  letter-spacing: 2px;
}

.deposite {
  background-color: slateblue;
}

.withdraw {
  background-color: lightsalmon;
}

.balance {
  background-color: orange;
}

.submit-area {
  margin: 2rem 0;
  box-shadow: 5px 5px 10px;
  padding: 30px;
  border-radius: 10px;
}

.submit-area h5 {
  margin: 1rem 0;
  font-weight: 400;
}
